/* import custom variables */
@import "../../style/variables.scss";
@import "../../style/utilities.scss";

/* based on Bulma: notification */
@import "node_modules/bulma/sass/elements/notification";


.notification {
  padding: 15px 20px;

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: $text-desc-size;
  }
}
