/* import custom variables */
@import "../../style/variables.scss";

.tasks {
  &__add-task {
    height: $task-height;
    line-height: $task-height;
    font-weight: 600;
    text-align: center;
    color: $grey;
    cursor: pointer;
    border: 1px dashed #eee;
    border-radius: 3px;

    &:hover {
      color: darken($grey, 30%);
      background-color: #e9e9e9;
    }
  }
}
