/* import custom variables */
@import "../../variables.scss";

$height: 50px;

.header {
  background-color: white;
  height: $height;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  line-height: $height;

  &__title {
    margin-left: 20px;
    font-weight: 800;
    font-size: 20px;
    color: $mainColor;
  }

  &__user {
    margin-right: 20px;
    color: #444444;
    font-size: 14px;

    .is-active & {
      margin-left: 20px;
    }
  }
}
