/* import custom variables */
@import "../../style/variables.scss";
@import "../../style/utilities.scss";

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  text-align: center;
  font-size: 11px;
  color: $grey;

  @include desktop {
    position: absolute;
  }
}


