
/* Font size */
$body-size:	16px;
$text-desc-size: 14px;
$text-status-size: 11px;

/* UI size */
$radius: 3px;
$gap: 24px;

/* Colors */
$mainColor: #22A4F2;
$grey: #A4BBC8;
$info: $mainColor;
$success: #2AC772;

/* components */
$task-height: 85px;
$task-title-color: #6B7D87;
